@use 'variables.scss' as *;

.tile-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: $transition;

  .MuiSvgIcon-root {
    font-size: 1.9rem;
  }
  
  &:hover {
    background-color: $active-bg;
    color: $active-text;
  }

}