@use 'variables.scss' as *;

.tile-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  background-color: $tile-bg;
  cursor: pointer;
  transition: $transition;
  
  &:hover {
    background-color: $tile-bg-active;
  }

}