@use 'variables.scss' as *;

/* Global custom scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: $primary-color $primary-bg;
  border-color: $border-color;
}

/* For Webkit browsers */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background: $primary-bg;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100dvh;
  overflow: hidden;
}

body {
  background-color: $primary-bg;
  font-size: 16px;
  color: $primary-text;
  letter-spacing: .01rem;
  font-weight: 400;
  letter-spacing: .04rem;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-shell {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.app-main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 4rem;
}

@media screen and (min-width: $desktop) {
  .app-main {
    padding-bottom: 0;
  }
}

.disable-select {
  -webkit-user-select: none;
  user-select: none;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

article h1,
aside h1,
nav h1,
section h1 {
  margin-block-start: initial;
  margin-block-end: initial;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.Toastify {
  padding: 0;
}

.headlessui-portal-root {
  z-index: 10;
}


// DISPLAY OR NOT
.desktop-block,
.desktop-flex {
  display: none;
}

@media screen and (min-width: $desktop) {
  .desktop-block {
    display: block;
  }

  .desktop-flex {
    display: flex;
  }
}