@import 'variables';

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1200;
  display: flex;
  justify-content: flex-end;
}

.drawer-panel {
  background: $primary-bg;
  width: 340px;
  max-width: 85vw;
  height: 100vh;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.12);
  transform: translateX(0);
  transition: transform 0.3s;
  position: relative;
}

.drawer-overlay.closing .drawer-panel {
  transform: translateX(100%);
}

.drawer-content {
  overflow-y: auto;
  height: calc(100vh - 56px);
}

.filters-item {
  padding: 1rem 1rem;
  background-color: $active-bg;
  border-radius: .75rem;
}