@use 'variables.scss' as *;

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    color: $primary-text;
}

.header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .desktop-menu {
        display: none;
    }

    // TODO remove
    border-bottom: 1px solid $border-color;
}

.admin-panel {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    flex: 1;
    background-color: $primary-bg;
}

.admin-panel-sidebar {
    background-color: $secondary-bg;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
    padding-top: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-right: 1px solid $border-color;

    .tile-btn.active {
        color: $primary-color;
    }
}


@media screen and (min-width: $desktop) {
    .header {
        nav {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }

        .desktop-menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            align-items: center;

            a {
                transition: $transition;
                &.active {
                    color: $primary-color;
                }
            }
        }
    }

    .mobile-menu {
        display: none;
    }

}