@use 'variables.scss' as *;

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    gap: .5rem;
    color: $primary-text;
}

$headerHeight: 50px;
$headerHeightDesktop: 60px;

.header {
    background-color: $secondary-bg;
    height: $headerHeight;
    max-height: $headerHeight;

    nav {
        width: 100%;
    }

    .desktop-menu {
        display: none;
    }

    .header-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header-content-left {
        display: flex;
        align-items: center;
    }
}

// FOOTER
.footer {
    padding: 1.2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $secondary-bg;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: $padding;
    justify-content: space-between;
    margin-left: auto;
    padding: 0 $padding;
}




// general views

.p-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: $desktop;
}

.view-container {
    @extend .p-container;
    padding: 1rem;
}



// LIST VIEW
.list-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: $mobile;
}

.list-view-item-img {
    padding-right: 1rem;

    img {
        aspect-ratio: 1/1;
        width: 3.5rem;
        height: 3.5rem;
        max-width: unset;
    }
}

.list-view-item {
    display: flex;
    padding: .5rem 1rem;

    &:not(.last) {
        border-bottom: 1px solid $secondary-bg;
    }
}



// CHAT
$chatPadding: .5rem;
$inputGap: .75rem;

.chat-view {
    padding-left: $chatPadding;
    padding-right: $chatPadding;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
}

.chat-view-input {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 $inputGap;
    z-index: 10;

    display: flex;
    height: 54px;
    border-radius: 16px;
    background-color: $secondary-bg;
}

.chat-view-input-content {
    flex: 1;
    padding: 0 $inputGap;

}

.chat-view-input-content-control {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.chat-view-input-left {
    display: flex;
    align-items: center;
    gap: $inputGap;
}

.chat-view-input-right {
    display: flex;
    align-items: center;
    gap: $inputGap;
    justify-content: flex-end;
}

.chat-view-message {
    max-width: 80%;
    padding: .35rem $inputGap;
    border-radius: $inputGap;
    background-color: $secondary-bg;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    color: $primary-text;
    margin-top: .2rem;

    .chat-view-message-info {
        white-space: nowrap;
        color: $secondary-text;
        font-size: $smallFont;
        text-align: right;
        flex: 1;
        // margin-left: auto;
    }

    &.left {
        flex-direction: row-reverse;
        border-top-left-radius: 0;

        .chat-view-message-info {
            text-align: left;
            align-self: flex-end;
            margin-right: .5rem;

        }
    }

    &.right {
        border-bottom-right-radius: 0;

        .chat-view-message-info {
            text-align: right;
            align-self: flex-end;
            margin-left: .5rem;
        }
    }

    p {
        flex: 1 1 auto;
        min-width: 0;
        overflow-wrap: anywhere;
        margin: 0;
    }
}



// ADMIN PANEL
.admin-panel {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    flex: 1;
    background-color: $primary-bg;
}

.admin-panel-sidebar {
    background-color: $secondary-bg;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
    padding-top: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-right: 1px solid $border-color;

    .tile-btn.active {
        color: $primary-color;
    }
}


$tile-edge-radius: 1rem;

.tile {
    width: 100%;
    background-color: $secondary-bg;
    border-radius: .25rem;
    padding: .5rem .75rem;
    box-shadow: $box-shadow;

    &.first {
        border-top-left-radius: $tile-edge-radius;
        border-top-right-radius: $tile-edge-radius;
    }

    &.last {
        border-bottom-left-radius: $tile-edge-radius;
        border-bottom-right-radius: $tile-edge-radius;
    }
}

.tile-content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &.mid {
        margin-top: .3rem;

    }

    &.bottom {
        margin-top: .3rem;
    }

}

// Mobile Bottom Navigation
.mobile-bottom-nav {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $secondary-bg;
    z-index: 5;
}

.mobile-bottom-nav-container {
    max-width: $desktop;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.mobile-bottom-nav-btn {
    @extend .ripple;
    justify-content: center;
}

.mobile-bottom-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: .6rem;
    padding-bottom: .2rem;

    &.active {
        color: $primary-color;

        .mobile-bottom-nav-label {
            color: $primary-color;
        }
    }

}

.mobile-bottom-nav-label {
    color: $secondary-text;
    font-size: $smallFont;
}

@media screen and (min-width: $desktop) {
    .header {
        max-height: $headerHeightDesktop;

        .desktop-menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            align-items: center;
        }
    }

    .footer-container {
        flex-direction: row;
        padding: 0;
        align-items: center;
    }

    .mobile-menu {
        display: none;
    }

}


$tileRadius: 1rem;

.main-tiles {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .square-tile {
        font-size: $btnFont;

        color: $primary-color;
        gap: .5rem;

        &.big {
            grid-column: span 2;
            aspect-ratio: unset;
        }
    }

    @media screen and (min-width: $tablet) {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .square-tile {
            &.big {
                aspect-ratio: unset;
            }
        }
    }
}


.sec-tiles {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
    color: $primary-color;

    .sec-tile-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .square-tile {
        width: 100%;
        border-radius: .6rem;
    }

    .sec-tile-label {
        margin-top: .3rem;
        text-align: center;
        font-size: $smallFont;
        color: $primary-text;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: $tablet) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        padding-top: 2rem;
    }
}

.square-tile {
    @extend .ripple;
    @extend .light-ripple;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: $secondary-bg;
    border-radius: $tileRadius;

    &.col-tile {
        flex-direction: column;
        text-align: center;
    }
}

.avatar-tile {
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.2s ease;
    }
}

.avatar-actions {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    z-index: 2;
}

.offer-details-tile {
    padding: .5rem 1rem;
    align-items: flex-start;
    gap: unset;
}





// CALLENDAR
.square-tile.data-tile {
    color: $primary-text;
    font-size: $smallFont;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: .5rem;
    flex-direction: column;
    aspect-ratio: unset;
}

.month-tile-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: calc($tileRadius - .35rem);
}

.square-tile.month-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0;
    color: $primary-text;
    overflow: hidden;
}

.month-callendar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

$cellRadius: .25rem;

.month-callendar-cell {
    font-size: $smallFont;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;

    &.header-cell {
        font-size: $xsFont;
        color: $secondary-text;

        &.big {
            font-size: 1rem;
        }
    }

    &.disabled {
        color: $secondary-text;
    }

    &.starting {
        background-color: $primary-color-transparent;
        border-top-left-radius: 2*$cellRadius;
        border-bottom-right-radius: 2*$cellRadius;
    }

    &.ending {
        border: 2px solid $primary-color;
        border-bottom-right-radius: 2*$cellRadius;
        border-top-right-radius: 2*$cellRadius;
        border-left: none;
    }

    &.selected {
        background-color: $primary-color-transparent;
        // color: $primary-text-active;
    }

    &.first {
        border-top-left-radius: $cellRadius;
        // border-bottom-left-radius: .5rem;
    }

    &.last {
        // border-top-right-radius: .5rem;
        border-bottom-right-radius: $cellRadius;
    }
}


$cellRadiusBig: 1rem;

.month-callendar.full-screen-mode {
    .month-callendar-cell {
        min-height: 50px;
        width: 100%;

        &.starting {
            border-top-left-radius: $cellRadiusBig;
            border-bottom-right-radius: $cellRadiusBig;
        }

        &.first {
            border-top-left-radius: $cellRadiusBig;
        }

        &.last {
            border-bottom-right-radius: $cellRadiusBig;
        }
    }
}

.callendars-view-wrapper {
    // position: relative;
    display: flex;
    flex-direction: column;
    height: 100%
}

.callendars-view-header {
    padding: .5rem 0;
    border-bottom: 1px solid $border-color;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.callendars-view-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $border-color;
    background-color: $primary-bg;
}

.callendars-view-fullscreen {
    overflow-y: auto;
    flex-grow: 1;
    flex: 1;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding-bottom: 5rem !important;
}

.callendars-view-item {
    width: 100%;
    padding-top: 1rem;
    // border-top: 1px solid $border-color;
    margin-bottom: 1rem;
}


// SLIDER
.duration-slider-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}


// FORMS
.form-view {
    height: 100%;
    padding: 0 1rem;
    width: 100%;
    max-width: $mobile;
    flex: 1;
}

.form-header {
    font-size: $xlFont;
    font-weight: 700;
    color: $primary-text;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.form-subheader {
    font-size: $lFont;
    color: $secondary-text;
    // color: $primary-text;
    display: flex;
    margin-bottom: 1rem;
}

.form-control-error-msg {
    color: $error-color;
    margin-left: 1rem;
    font-size: $smallFont;
}

.form-wizard-top-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    padding-bottom: 2rem;
}

.form-wizard-top {
    background-color: $primary-bg;
    padding-top: 1rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: center;
}

.form-wizard-buttons-wrapper {
    padding-top: 2rem;
    padding-bottom: 54px;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 4;
}

.form-wizard-buttons {
    background-color: $primary-bg;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wizard-stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5rem;
}



.tiles-center-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}



// TAB SWITCHER
.tab-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-bg;
    border-radius: .75rem;
    overflow: hidden;

}

.tab-switcher-option {
    border-radius: .75rem;
    box-sizing: content-box;
    color: $primary-text;
    padding: .75rem .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;

    &:not(:last-child) {
        border-right: 3px solid $primary-bg
    }

    &.active {
        background-color: $primary-color;
        color: #fff;
    }
}

.infinite-scroll-filters {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primary-bg;
    padding-bottom: .5rem;
    padding-top: .5rem;
    z-index: 2;
}