@use 'variables.scss' as *;

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    color: $primary-text;
}

.header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .desktop-menu {
        display: none;
    }

    // TODO remove
    border-bottom: 1px solid $border-color;
}


@media screen and (min-width: $desktop) {
    .header {
        nav {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }

        .desktop-menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            align-items: center;

            a {
                transition: $transition;
                &.active {
                    color: $primary-color;
                }
            }
        }
    }

    .mobile-menu {
        display: none;
    }

}