$transition: .15s ease-out all;
$desktop: 1024px;

:root {
  --primary-color: #4f46e5;
  --primary-color-active: #7A73EB;

  --primary-bg: #fff;
  --secondary-bg: #374151;

  --primary-text: #111827;
  --secondary-text: #6b7280;

  --border-color: #e5e7eb;
}

$primary-color: var(--primary-color);
$primary-color-active: var(--primary-color-active);

$primary-bg: var(--primary-bg);
$secondary-bg: var(--secondary-bg);
$tile-bg: var(--tile-bg);

$primary-text: var(--primary-text);
$secondary-text: var(--secondary-text);

$border-color: var(--border-color);

$tile-bg: rgba(0, 0, 0, 0.1);
$tile-bg-active: rgba(0, 0, 0, 0.15);

$gray-100: #f3f4f6;
$gray-200: #E5E7EB;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2937;
$gray-900: #111827;

$error-color: #ef4444;
$error-color-dark: #f87171;

input::placeholder,
textarea::placeholder,
.placeholder-secondary-text::placeholder {
  color: $secondary-text !important;
  opacity: 1;
}

.primary-color {
  color: $primary-color;
}

.bg-primary-color {
  background-color: $primary-color;
}

.highlight {
  color: $primary-color;
}

.primary-color-active {
  color: $primary-color-active;
}

.bg-primary-color-active {
  background-color: $primary-color-active;
}

.primary-bg {
  background-color: $primary-bg;
}

.secondary-bg {
  background-color: $secondary-bg;
}

.tile-bg {
  background-color: $tile-bg;
}

.primary-text {
  color: $primary-text;
}

.secondary-text {
  color: $secondary-text;
}

.ring-color {
  --tw-ring-color: var(--border-color);
}

.border-color {
  border-color: $border-color;
}

.error-color {
  color: $error-color;
}

.bg-error-color {
  background-color: $error-color;
}

.hover-light-bg:hover {
  background-color: rgba(var(--primary-color), 0.1);
}

.hover-primary-text:hover {
  color: var(--primary-color);
}

$transition: .15s ease-out all;